.control {
    height: 50px;
}

.label {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input[data-focus-ring="auto"]:focus:focus-visible + .label {
    --segmented-control-outline: 2px solid var(--mantine-color-violet-filled);
}
