.grid-inner {
    height: 100%;
}

.balance::part(suffix) {
    margin-left: 6px;
    font-size: 20px;
    color: var(--mantine-color-dimmed);
}

.transaction {
    background: var(--mantine-color-orange-6);
    border-radius: 50%;
    height: 30px;
    width: 30px;

    box-shadow: 0 0 0 0 #e8590c;
    opacity: 1;
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 #ff7a00b3;
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px #ff7a0000;
    }

    100% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 #ff7a0000;
    }
}
