.input {
    &:focus {
        --input-bd: var(--mantine-color-violet-filled);
    }

    &:focus-within {
        --input-bd: var(--mantine-color-violet-filled);
    }
}

.label {
    margin-bottom: 4px;
}
